# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environment
venv/
.env/

# PyInstaller
build/
dist/
*.spec

# AppImage / AppDir
AppDir/
*.AppImage

# Release folder (binaries)
release/

# VS Code
.vscode/

# Other OS files
.DS_Store
Thumbs.db
setup_env.sh
build.sh